/* 
    Document   : linkfield.css
    Created on : May 27, 2014, 8:52:47 AM
    Author     : micschk
    Description:
        Allow for a little styling of the inserted linkfield
*/

.fieldgroupField.LinkFormFieldCustomURL { margin-top: 6px; }
.LinkFormField label.right { margin-left: 0px; }

.field select.LinkModePicker { width: 130px; }
.fieldgroupField.LinkFormFieldLinkmode { margin-left: 20px; }
.field .LinkFormField .chzn-container-single .chzn-single { height: 30px; }
/*.field .LinkFormFieldPageID .TreeDropdownField { width: 380px; }*/

.fieldgroupField.LinkFormFieldTitle { float: left; }
.fieldgroupField.LinkFormFieldTitle label,
.fieldgroupField.LinkFormFieldLinkmode label { width: 50px; display: inline-block; }
.fieldgroupField.LinkFormFieldTitle input { width: 270px; }
.fieldgroupField.LinkFormFieldLinkmode label { float: left; margin: 8px 0 0 10px; width: 30px;  }

/*.LinkFormFieldLinkmode, .LinkFormFieldLinkmode > .fieldholder-small,
.LinkFormFieldPageID, .LinkFormFieldPageID > .fieldholder-small { display: inline; }*/

.LinkFormFieldTitle, .LinkFormFieldTitle > .fieldholder-small,
.LinkFormFieldLinkmode, .LinkFormFieldLinkmode > .fieldholder-small { display: inline; }

/*#TreeDropdownField_Form_ItemEditForm_Link-PageID { display: inline-block; margin-left: 10px; }*/

