.LinkFormField {

  .fieldgroupField {
    margin-bottom: 6px;

    &.LinkFormFieldTitle, &.LinkFormFieldLinkmode, &.LinkFormFieldPageAnchor {
      display: inline-block;
      width: 70%;
      padding-left: 60px;
      label {
        width: 50px;
        margin-left: -60px;
        margin-right: 6px;
        padding-left: 8px;
        display: inline-block;
      }
      input {
        display: inline-block;
      }
    }
    &.LinkFormFieldLinkmode {
      width: 30%;
      //.chosen-container {
      //  margin-left: 5px;
      //}
    }
    &.LinkFormFieldPageID, &.LinkFormFieldPageAnchor {
      width: 60%;
      //display: inline-block !important;
    }
    &.LinkFormFieldPageAnchor {
      width: 40%;
      padding-left: 100px;
      vertical-align: top;
      label {
        width: 90px;
        margin-right: 6px;
        padding-left: 8px;
        margin-left: -100px;
      }
    }
    label.right {
      padding-left: 4px;
      font-size: .923rem;
      color: #566b8d;
    }
  }
}